<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4; }
      .container { max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff;
      border-radius: 10px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); } h3 { color: #333333;
      margin-top: 0; } p { color: #777777; margin-bottom: 20px; } .button-container { text-align:
      center; margin-top: 20px; } .button { display: inline-block; padding: 10px 20px;
      background-color: #4caf50; color: white; text-decoration: none; border-radius: 5px;
      font-weight: bold; transition: background-color 0.3s; } .button.decline { background-color:
      #e57373; } .button:hover { background-color: #45a049; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h3>Hi <span>{{name}}</span>,</h3>
      <p>To Verify Your Account Please Click Button</p>
      <div class='button-container'>
        <a class='button' href='{{verificationLink}}'>VERIFY</a>
      </div>
    </div>
  </body>
</html>